
/*-------------------- nav -------------------*/
.nav{
	display: flex;
	justify-content: space-between;
}

.nav-bar{
	background: #037f99;
	height: 80px;
	display: flex;
	align-items: center;
}

.right{
	display: flex;
	justify-content: space-between;
}

.options{
	padding: 1% 0%;
}


#logo{
	display: flex;
	justify-content: flex-start;
}

/*------------------ header ------------------*/
.head{
	width: 100%;
	height: 350px;
	background: url(../../img/img-1.jpg);
	background-position: top;
	background-repeat: no-repeat;
	display: flex;
	align-items: flex-end;
}

